
.header {
  background-color: #ffffff;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.header h1 {
  font-size: 40px;
  font-weight: 700;
  color: #1E3A8A;
  text-align: center;
  margin: 0;
}
.header p{
    color: #6B7280;
    font-size: 20px;
}

.imagecontainerR {
  position: relative;
  height: 400px;
  overflow: hidden;
  display: flex;
  
}

.imagecontainerR img {
  position: absolute;
  top: 0;
  right: 0;
  
  height: 100%;
  width: 50vw;
  object-fit: cover;
  display: block;

  mask-image: linear-gradient(to left, black 30%, transparent 100%);
  -webkit-mask-image: linear-gradient(to left, black 30%, transparent 100%);
}

.mid{
    height: 400px;
}

.imagecontainerL {
  position: relative;
  height: 400px;
  overflow: hidden;
  display: flex;
}

.imagecontainerL img {
  
  height: 100%;
  width: 50vw;
  object-fit: cover;
  display: block;

  mask-image: linear-gradient(to right, black 30%, transparent 100%);
  -webkit-mask-image: linear-gradient(to right, black 30%, transparent 100%);
}

.first{
    padding: 30px; 
}
.first h2{
    font-size: 35px;
    color: #374151;
}
.first p{
    font-size: 25px;
    max-width: 45ch;
    color: #6B7280;
}

.mid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 20px;
  padding-bottom: 30px;
}

.sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sec ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.sec h2{
    font-size: 35px;
    color: #374151;
}

.sec li{
    font-size: 25px;
    max-width: 45ch;
    color: #6B7280;
    list-style-type: none;
    text-align: center;
}




.third{
    padding: 30px; 
}
.third h2{
    font-size: 35px;
    color: #374151;
}
.third p{
    font-size: 25px;
    max-width: 45ch;
    color: #6B7280;
}


.hr{
    width: 70%;
    border: 1px solid;
}



/* ================== */


@media (max-width: 1024px) {
  .imagecontainerR,
  .imagecontainerL {
    height: auto;
    min-height: 300px;
  }

  .imagecontainerR img,
  .imagecontainerL img {
    width: 60vw;
  }

  .first p,
  .third p,
  .sec li {
    font-size: 20px;
  }

  .first h2,
  .third h2,
  .sec h2 {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .header {
    height: auto;
    padding: 20px;
  }

  .header h1 {
    font-size: 28px;
  }

  .header p {
    font-size: 16px;
  }

  .imagecontainerR,
  .imagecontainerL {
    flex-direction: column;
    height: auto;
  }

  .imagecontainerR img,
  .imagecontainerL img {
    position: static;
    width: 100%;
    height: 250px;

    mask-image: none;
    -webkit-mask-image: none;
  }

  .first,
  .third {
    padding: 20px;
    text-align: center;
  }

  .first h2,
  .third h2,
  .sec h2 {
    font-size: 26px;
  }

  .first p,
  .third p,
  .sec li {
    font-size: 18px;
    max-width: 100%;
  }

  .mid {
    padding: 20px 10px;
  }

  .hr {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .header h1 {
    font-size: 24px;
  }

  .header p {
    font-size: 14px;
  }

  .first h2,
  .third h2,
  .sec h2 {
    font-size: 22px;
  }

  .first p,
  .third p,
  .sec li {
    font-size: 16px;
  }
}