
.header {
  background-color: #ffffff;
  height: 100px;
  text-align: center;
  padding: 30px;
}

.header h1 {
  font-size: 40px;
  font-weight: 700;
  color: #1E3A8A;
  margin: 0;
}

.header p{
    color: #6B7280;
    font-size: 20px;
}

.card {
  max-width: 600px;
  margin: 40px auto;
  background: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.label {
  font-size: 14px;
  font-weight: 600;
  color: #374151;
  margin-top: 10px;
}

.input {
  padding: 10px 12px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #D1D5DB;
  background-color: #F9FAFB;
  color: #111827;
  transition: border-color 0.2s, background-color 0.2s;
}

.input:disabled {
  background-color: #F3F4F6;
  color: #6B7280;
  cursor: not-allowed;
}


.actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 20px;
}


.editBtn {
  background-color: #f59e0b;
  color: #ffffff;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
}

.editBtn:hover {
  background-color: #d97706;
}

.saveBtn {
  background-color: #16a34a;
  color: #ffffff;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.saveBtn:hover {
  background-color: #15803d;
}

.cancelBtn {
  background-color: #ef4444;
  color: #ffffff;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.cancelBtn:hover {
  background-color: #dc2626;
}


.editable {
  background-color: #ffffff;
  border-color: #f59e0b;
}

.readOnly {
  background-color: #F3F4F6;
  color: #6B7280;
  cursor: not-allowed;
}


.input:disabled {
  background-color: #F3F4F6;
  border-color: #E5E7EB;
}
