.card {
  display: flex;
  align-items: center;
  gap: 16px;
  background: #ffffff;
  border-radius: 12px;
  padding: 20px;
  border: 2px solid #e5e7eb;
  justify-content: space-around;
}

.icon {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

.title {
  font-weight: 600;
  color: #1E3A8A;
  margin-bottom: 4px;
  font-size: 20px;
  text-align: center;
}

.value {
  font-size: 20px;
  font-weight: 600;
  color: #1E3A8A;
}

.cent{
    display: flex;
    flex-direction: column;
    align-items: center;
}