.header {
  background-color: #ffffff;
  text-align: center;
}

.header h1 {
  font-size: 50px;
  font-weight: 700;
  color: #1E3A8A;
  margin-bottom: 10px;
}

.header p {
  font-size: 20px;
  color: #6B7280;
  padding-bottom: 20px;
}

@media (max-width: 425px) {

  .header h1 {
    font-size: 30px;
  }

  .header p {
    font-size: 15px;
  }
}

.filterBar {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  background-color: #F3F4F6;
}

/* ============ */

.searchInput {
  width: 100%;
  max-width: 400px;
  height: 40px;
  padding: 0 20px;
  border-radius: 8px;
  border: 2px solid #E5E7EB;
  font-size: 14px;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
  
}

.searchInput:focus {
  border-color: #1E3A8A;
  box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.15);
}

/* ============ */
.categorySelect {
  height: 40px;
  padding: 0 20px;
  border-radius: 8px;
  border: 2px solid #E5E7EB;
  cursor: pointer;
  font-size: 14px;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}
.categorySelect:hover {
  border-color: #1E3A8A;
}

.categorySelect:focus {
  border-color: #1E3A8A;
  box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.15);
}

@media (max-width: 425px) {
  .filterBar {
    flex-direction: column;
    gap: 10px;
    padding: 15px;
  }

  .searchInput,
  .categorySelect {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

}
.noFound{
    display: flex;
    justify-content: center;
    font-size: larger;
    margin: 40px 0;
    color: #6B7280;
}


/* ============ */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 30px;

}

.pageBtn {
  padding: 6px 12px;
  font-weight: 600;

  border-radius: 50px;
  border: 2px solid #1E3A8A;
  background: white;
  color: #1E3A8A;
  cursor: pointer;
  font-size: 15px;
  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    transform 0.15s ease;
}

.pageBtn:hover:not(:disabled) {
  background: #1E3A8A;
  color: white;
  transform: translateY(-1px);
}

.pageBtn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.activePage {
  background: #1E3A8A;
  color: white;
}

.pageBtn:active {
  transform: scale(0.95);
}
.pageBtn:disabled {
  opacity: 1;
  cursor: not-allowed;
}
