.myAuctionsActive {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: auto;
  scrollbar-gutter: stable;
  margin: 20px 30px;
}

.header {
  background-color: #ffffff;
  height: 100px;
  display: flex;
  padding: 30px 70px;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 40px;
  font-weight: 700;
  color: #1E3A8A;
  margin: 0;
}

.header p{
    color: #6B7280;
    font-size: 20px;
}

.viewBtn {
  background-color: #F59E0B;
  color: #ffffff;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 20px;
  text-decoration: none;
  transition:  transform 0.1s ease, box-shadow 0.2s ease;
}

.viewBtn:hover {
  box-shadow: 0 4px 10px rgba(31, 60, 136, 0.25);
}

.viewBtn:active {
  transform: scale(0.98);
}

.statsWrapper {
  background-color: #f3f4f6;
  padding: 25px 30px;
}

.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  max-width: 1400px;
  width: 100%;
  margin-inline: auto;
}


.sectionTitle {
    
  font-size: 25px;
  padding: 20px 70px;
  font-weight: 600;
  color: #1e3a8a;
  margin: 0;
}



.wonGrid {
  display: grid;
  padding: 30px 70px;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 30px;
}



/* ================ */

@media (max-width: 1024px) {
  .header {
    padding: 20px 40px;
  }

  .stats {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }

  .sectionTitle {
    padding: 20px 40px;
  }

  .wonGrid {
    padding: 20px 40px;
  }
}


@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    height: auto;
    padding: 20px;
  }

  .viewBtn {
    margin-bottom: 0;
  }

  .statsWrapper {
    padding: 20px;
  }

  .stats {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .sectionTitle {
    padding: 16px 20px;
    font-size: 20px;
  }

  .myAuctionsActive {
    margin: 0 20px 20px;
  }

  .wonGrid {
    padding: 20px;
    grid-template-columns: 1fr;
  }
}
